h1{
    color:black;
    text-align:center;
    font-size:90px;
}


.background1{
    background-color:aquamarine;
    width: 100%; 
    height: 400px;
    overflow: hidden;
}


.background2{
    background-color:beige;
    width:100%;
    height:calc(100vh - 400px);
    overflow: hidden;
}


.btn{
    width:100px;
    height:40px;
    color:black;
    font-size: 20px;
    background-color:aliceblue;
     border: none;
     border-radius: 8px;

}
#myBtn:hover {
  background-color:aliceblue; 
  transform: scale(1.05); 
}


#myBtn:active {
  transform: scale(0.98); 
}