h1{
    color:black;
    text-align:center;
    font-size:80px;
}
.backgound1{
    background-color:aquamarine;
    width: 100%; 
    height: 600px;
}
.background2{
    background-color:beige;
    width:100%;
    height:calc(100vh - 200px);

}